<!--
        Authors: Alec Ostheimer, Ben Walbrecht, Cash Allred, Zach McQuiston
-->
@{
    ViewBag.Title = "Index";
}

<h3 id="mainPageContent">This page is to demonstrate the use of various data structures. To begin simply go to one of the links above.</h3>
<img src="../../Graphics/binary_plexus.png" class="center-image" />